* {
    margin: 0px;
    padding: 0px;
}

/* banner section styles */


.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 160px 0px 160px;
    gap: 110px;
}

.banner-image {
    padding: 0px;
    height: 68%;
    width: auto;
}

.img {
    width: 400px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 25px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
}

.btn {
    border-radius: 6px;
    background: #E55473;
    color: white;
    padding: 15px 28px;
    border: 0px;
}

/* section-1 styles */

.sec1-title {
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.sec1-descripton {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec1-images {
    display: flex;
    padding-top: 5px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sec1-img-banner1 {
    border-radius: 250px 250px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 325px;
    height: 380px;
}

.sec1-img-banner2 {
    border-radius: 250px 250px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 325px;
    height: 380px;
}

.sec1-img-banner3 {
    border-radius: 250px 250px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 325px;
    height: 380px;
}

.sec1-img {
    padding-bottom: 0px;
    border: 0px;
    width: 260px;
    height: 300px;
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 0px;
    align-items: center bottom;
}

.sec1-img-des {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-decoration-line: underline;
}

/* section-2 styles */

.sec2-container {
    display: flex;
    padding: 50px 180px;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    background-color: rgba(229, 84, 115, 0.1);
}

.sec2-content {
    align-items: center;
    text-align: center;
}

.sec2-title {
    color: #272727;
    font-family: Lato;
    font-size: 32px;
    font-weight: 800;
}
.sec2-title-mark{
    color: #d62c2c;
    font-family: Lato;
    font-size: 38px;
    font-weight: bold;
}

/* section-3 styles */

.sec3-images{
    display: flex;
    padding-top: 5px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.sec3-img{
    width: 225px;
    height: 280px;
}
.sec3-img-banner{
    width: 225px;
    height: 280px;
    box-shadow: 3px 3px 5px rgb(177, 173, 173);
    border: 0px;
}