* {
    margin: 0px;
    padding: 0px;
}

/* banner section styles */


.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 160px 0px 160px;
    gap: 110px;
}

.banner-image {
    padding: 0px;
    height: 68%;
    width: auto;
}

.img {
    width: 400px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 25px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
}

.btn {
    border-radius: 6px;
    background: #E55473;
    color: white;
    padding: 15px 28px;
    border: 0px;
}

/* section-1 styles */

.sec1-title {
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 24px;
}

.sec1-descripton {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 35px;
}

.sec1-images {
    display: flex;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sec1-img-banner {
    border-radius: 250px 250px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 325px;
    height: 380px;
    display: block;
    align-items: center bottom;
}

.sec1-img {
    padding-bottom: 0px;
    border: 0px;
    width: 260px;
    height: 300px;
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 0px;
    align-items: center bottom;
}

.sec1-img-des {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-decoration-line: underline;
}